<div>
    <p>Hola Mundo, vista. Bienvenida <%=@nombre%></p> 
    
        <p>Fecha <%= Time.now %></p> <!-- el = es para que lo muestre en la vista, sino se pone calcula el valor pero no lo muestra -->
</div>
